<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Role Selection</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/script.js" defer></script>
  </head>
  <body>
    <html>
      <container class="container">
        <h1>Welcome to Hostel Management System</h1>
        <p>Please select your role:</p>

        <button id="studentBtn" onclick="selectRole('student')">Student</button>
        <button id="parentBtn" onclick="selectRole('parent')">Parent</button>
        <button id="wardenBtn" onclick="selectRole('warden')">Warden</button>
      </container>
    </html>
  </body>
</html>
