<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Hostel Portal</title>
    <link rel="stylesheet" href="/stylesheets/student.css"></link>
  </head>
  <body>
    <div class="studentLog">
      <h1>student</h1>
    </div>
  </body>
</html>
