body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 
  background-image: url('https://nith.ac.in/uploads/topics/hostelphoto16442124065939.jpg');
  background-size: cover; 
  backdrop-filter: blur(5px);
  background-position: center; 
  background-repeat: no-repeat; 
}